@model IEnumerable<IGrouping<Dentist, Appointment>>

@if (Model.Count() != 0)
{
    @foreach (var appointmentGroup in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><strong class="text-standart">Odontologista: @appointmentGroup.Key.Name - Número de consultas: @appointmentGroup.Count()</strong></h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="info">
                            <th class="text-center">
                                Data
                            </th>
                            <th class="text-center">
                                Duração em minutos
                            </th>
                            <th class="text-center">
                                Tipo de consulta
                            </th>
                            <th class="text-center">
                                Paciente
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in appointmentGroup)
                        {
                            <tr>
                                <td class="text-center">
                                    @item.DateAndTime().ToString("dd/MM/yy HH:mm")
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DurationInMinutes)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.AppointmentType)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Patient)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
else
{
    <h2>Não há consultas marcadas no período solicitado!</h2>
}
