@model WebOdontologista.Models.ViewModels.AppointmentFormViewModel
@{
    ViewData["Title"] = "Nova Consulta";
}

<h2>@ViewData["Title"]</h2>
@if ((int)ViewData["error"] == 1)
{
    <h4>Não há horário disponível neste dia!</h4>
}
@if ((int)ViewData["error"] == 2)
{
    <h4>Data inválida!</h4>
}
<hr />
<div class="row">
    <div class="col-md-4">
        @if ((int)ViewData["step"] == 1)
        {
            <form method="get" asp-action="Create">
                <div class="form-group">
                    <label asp-for="Appointment.Patient" class="control-label"> </label>
                    <input asp-for="Appointment.Patient" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Appointment.Patient" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.TelephoneNumber" class="control-label"> </label>
                    <input asp-for="Appointment.TelephoneNumber" id="phone" onkeyup="mask()" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Appointment.TelephoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.DentistId" class="control-label"> </label>
                    <select asp-for="Appointment.DentistId" asp-items="@(new SelectList(Model.Dentists, "Id", "Name"))" class="form-control"> </select>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.AppointmentType" class="control-label"> </label>
                    <input asp-for="Appointment.AppointmentType" class="form-control" />
                    <span asp-validation-for="Appointment.AppointmentType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.DurationInMinutes" class="control-label"> </label>
                    <select asp-for="Appointment.DurationInMinutes" class="form-control">
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                        <option value="60">60</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.Date" class="control-label"> </label>
                    <input asp-for="Appointment.Date" class="form-control" />
                    <span asp-validation-for="Appointment.Date" class="text-danger"></span>
                </div>
                <input type="hidden" name="step" value="@ViewData["step"]" class="form-control" />
                <div class="form-group">
                    <br>
                    <input type="submit" value="Próximo" class="btn btn-default" />
                </div>
            </form>
        }
        else if ((int)ViewData["step"] == 2)
        {
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Appointment.Patient" class="control-label"> </label>
                    <input asp-for="Appointment.Patient" value="@Model.Appointment.Patient" class="form-control" autocomplete="off" disabled />
                    <span asp-validation-for="Appointment.Patient" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.TelephoneNumber" class="control-label"> </label>
                    <input asp-for="Appointment.TelephoneNumber" value="@Model.Appointment.TelephoneNumber" id="phone" onkeyup="mask()" class="form-control" autocomplete="off" disabled />
                    <span asp-validation-for="Appointment.TelephoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.DentistId" class="control-label"> </label>
                    <input type="text" value="@Model.Appointment.Dentist.Name" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.AppointmentType" class="control-label"> </label>
                    <input asp-for="Appointment.AppointmentType" value="@Model.Appointment.AppointmentType" class="form-control" disabled />
                    <span asp-validation-for="Appointment.AppointmentType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.DurationInMinutes" class="control-label"> </label>
                    <input asp-for="Appointment.DurationInMinutes" value="@Model.Appointment.DurationInMinutes" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.Date" class="control-label"> </label>
                    <input type="text" value="@Model.Appointment.Date.ToString("dd/MM/yyyy")" class="form-control" disabled />
                    <span asp-validation-for="Appointment.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.Time" class="control-label"> </label>
                    <select asp-for="Appointment.Time" asp-items="@(new SelectList(Model.AvailableTime))" class="form-control"> </select>
                </div>
                <input type="hidden" name="Appointment.Patient" value="@Model.Appointment.Patient" />
                <input type="hidden" name="Appointment.TelephoneNumber" value="@Model.Appointment.TelephoneNumber" />
                <input type="hidden" name="Appointment.DentistId" value="@Model.Appointment.DentistId" />
                <input type="hidden" name="Appointment.AppointmentType" value="@Model.Appointment.AppointmentType" />
                <input type="hidden" name="Appointment.DurationInMinutes" value="@Model.Appointment.DurationInMinutes" />
                <input type="hidden" name="Appointment.Date" value="@Model.Appointment.Date" />
                <input type="hidden" name="step" value="@ViewData["step"]" />
                <div class="form-group">
                    <br>
                    <input type="submit" value="Adicionar Nova Consulta" class="btn btn-danger" />
                    <button type="submit" name="toReturn" value="true" class="btn btn-default">Voltar</button>
                </div>
            </form>
        }

    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_TelephoneMask");
    }
}

