@model WebOdontologista.Models.ViewModels.IndexAppointmentFormViewModel
@{
    ViewData["Title"] = "Índice - Consultas";

}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-9">
        <a asp-action="Create" class="btn btn-primary">Nova Consulta</a>
    </div>
    <div class="col-sm-1 show-label">
        <label class="control-label" for="Show">Exibir:</label>
    </div>
    <form class="col-sm-2">
        <div class="form-group">
            <select id="show" asp-for="Show" class="form-control" onchange="reload()">
                <option value="0">Apenas hoje</option>
                <option value="1">Apenas semana</option>
                <option value="2">Apenas mês</option>
                <option value="3">Tudo</option>
            </select>
        </div>
    </form>
</div>

@if (Model.Appointments.Count() != 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="info">
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Appointment.Date) e horário
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Appointment.DurationInMinutes)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Appointment.Dentist.Name)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Appointment.AppointmentType)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Appointment.Patient)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Appointment.TelephoneNumber)
                    </th>
                    <th colspan="2" class="text-center">
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Appointments)
                {
                    <tr>
                        <td class="text-center">
                            @item.DateAndTime().ToString("dd/MM/yy HH:mm")
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DurationInMinutes)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Dentist.Name)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.AppointmentType)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Patient)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TelephoneNumber)
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Reagendar</a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancelar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    switch (Model.Show)
    {
        case 0:
            <h2>Não há consultas marcadas para hoje!</h2>
            break;
        case 1:
            <h2>Não há consultas marcadas para esta semana!</h2>
            break;
        case 2:
            <h2>Não há consultas marcadas para este mês!</h2>
            break;
        default:
            <h2>Não há consultas marcadas!</h2>
            break;
    }
}



<environment include="Development">
    <script src="~/js/reload.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/reload.min.js" asp-append-version="true"></script>
</environment>
