@model WebOdontologista.Models.Dentist

@{
    ViewData["Title"] = "Excluir Odontologista";
}

<h2>@ViewData["Title"] </h2>
<h3>Tem certeza que deseja excluir o odontologista?</h3>
<h5><mark>Todas as consultas com este odontologista também serão excluídas!</mark></h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
    </dl>
    <form asp-action="DeleteById">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Voltar ao índice</a>
    </form>
</div>